* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper__bg {
  width: 100%;
  height: 100%;
  background: url(/img/monitor.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

@media (max-width: 768px) {
  .wrapper__bg {
    width: 100%;
    height: 100%;
    background: url(/img/telefon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
}
